@import "settings";
// @import "foundation";
@import "compass/css3/filter";
@import "compass/css3/transition";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
  // "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
  // "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
  "foundation/components/grid",
  // "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
  "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
  "foundation/components/type";
//   "foundation/components/offcanvas",
  // "foundation/components/visibility";

$primary-color: lightsteelblue;
$secondary-color: rgb(166, 168, 179);

$CTA-primary-color: rgb(97, 147, 165);
$CTA-secondary-color: #fff;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Lora', serif;



.modal{
	padding: 1.2rem;
	font-color: #ccc;
	font-family: $primary-font;

	h2{
		font-size: 1.6rem;
		font-family: $primary-font;
		// font-weight: bold;
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
	}

	h3{
		font-size: 1.2rem;
		font-family: $secondary-font;
		font-style: italic;
	}

	ul, p{
		font-size: .9rem;
	}

	ul{
		/*list-style-position: inside;*/
		padding-left: 20px;
	}

	.imageContainer, .videoContainer{
		
	}

	.imageContainer{
		/*height: 300px;*/
		/*border: 1px solid #ccc;*/
		padding: 0;
		margin-bottom: 20px;

		img{
			width:98%;
			border: 1px solid #ccc;
		}
	}

	.close-reveal-modal, 
	dialog .close-reveal-modal{
		top: 0em;
	}

	.videoContainer{
		margin-bottom: 0;
		/*border: 1px solid #ccc;*/
		padding: 0;
	}

	video{
		border: 1px solid #ccc;
	}

	.masthead{
		padding: 0;
		@media #{$small-up} { 
			padding: 0;
		}

		@media #{$large-up} { 
			/*padding: 0;*/
		}
	}

}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;

	font-family: $secondary-font;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;

	.center{
		justify-contents: center;
		align-items: center;
		display: flex;
	}
}

body{
	position: relative;
	@media #{$small-up} { 
		padding-top: 1rem;
	}

	@media #{$medium-up} { 
		padding-top:3rem;
	}

	@media #{$large-up} { 
		padding-top:6rem;
	}

	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga=1, dlig=1"; 
	-moz-font-feature-settings: "liga", "dlig"; 
	-ms-font-feature-settings: "liga", "dlig"; 
	-o-font-feature-settings: "liga", "dlig"; 
	-webkit-font-feature-settings: "liga", "dlig"; 
	font-feature-settings: "liga", "dlig";
}
.cover{
	@include filter(blur(10px));
}

.cover.uncover{
	@include filter(blur(0px));
	@include transition-property(all);
	@include transition-duration(1.35s);
	@include transition-timing-function(ease-in-out);
}

.loading{
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	// @include flexbox((
 //    display: box,
 //    box-orient: vertical
 //  ), $version: 1);
 //  @include flexbox((
 //    display: flexbox,
 //    flex-direction: row
 //  ), $version: 2);
 //  @include flexbox((
 //    display: flex,
 //    flex-direction: row
 //  ));

	div{
		background: #ccc;
		width: 150px;
		height: 50px;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	&.fadeOut{
		opacity: 0;
		// -webkit-filter: blur(0px);
		-webkit-transition: 1s opacity linear;
		-moz-transition: 1s opacity linear;
		-o-transition: 1s opacity linear;
	}
}


strong {
	font-weight: 700;
}

p .icon{
	font-size: 1.25rem;
	color: #296693;
}

a {
	color: steelblue;
}

a:visited {
	color: $primary-color;
}

.CTA_wrap{
	display: inline-block;
	padding: .5rem;
	background: $CTA-primary-color;

	a.CTA {
		display: inline-block;
		padding: .5rem 3rem;
		background: $CTA-primary-color;
		border: 1px dotted $CTA-secondary-color;
		/*text-align: right;*/
		color: $CTA-secondary-color;
		font-family: $secondary-font;
		text-transform: uppercase;
	}
}

.no-break {
	white-space: nowrap;
}

ul {
	list-style-type: circle;
	padding-left: 40px;
	margin-left: 0;

	li {
		margin-left: 0;
		padding-left: 0;
	}
}

ul.icon-bullets {
	list-style-type: none;

	li {
		position: relative;
	}

	li:before {
		content: ' ';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: .2em;
		left: -21px;
	}
}

#wrapper {
	margin: 0 auto;
	width: 36%;
}

.header {
	margin: 0 0 15px;
	padding: 0 0 10px;
	border-bottom: 1px dotted $primary-color;

	font-family: $primary-font;
	font-style: normal;
	font-weight: 900;
	font-size: 2em;

	@media #{$small-up} { 
		font-size: 7vw;
	}

	@media #{$medium-up} { 
		font-size: 4vw;
	}

	@media #{$large-up} { 
		font-size: 2vw;
	}

	@media #{$xxlarge-up} { 
		font-size: 1.5vw;
	}

	small {
		font-weight: 300;
	}
}

.main {
	em {
		color: $secondary-color;
	}

	a em{
		color: $CTA-primary-color;
	}

	h2 {
		font-family: $secondary-font;
		font-size: 1rem;
		font-style: italic;
	}
}


#footer {
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px dotted $primary-color;
	/*font-size: .8em*/

	.email:before {
		background-image: url('../images/icons/email.png');
	}

	.resume:before {
		background-image: url('../images/icons/page_white_acrobat.png');
	}

	.portfolio:before {
		background-image: url('../images/icons/brick.png');
	}
}